<!DOCTYPE html>
<html>
    <head>
        <title>yourpixel</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div class="cover">
            <header>
                <section>
                    <div class="left">
                        <img class="logo" src="">
                    </div>
                    <div class="tagline">
                        <h1>yourpixel</h2>
                    </div>
                    <div class="clear"></div>
                </section>
                <nav>
                    <ul class="menu">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Login</a></li>
                    </ul>
                </nav>
            </header>